body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

.navbar.bg-custom {
    background-color: #e50914;
}
.btn.btn-custom {
    background-color: #ffffff;
    color: #e50914;
}
.btn.btn-custom:hover {
    background-color:#94060d;
    color: #ffffff;
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f1f1f1;
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
}

.about p{
    max-width: 75%;
}

.team  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f1f1f1;
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
}

.team p{
    max-width: 75%;
    margin-bottom: 50px;
}

.team img{
    border-radius: 250px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: row;   
    transition: background-color 0.5s;
}

.caption h3{
    margin-top: 15px;
    margin-left: 15px;
}

.caption p{
    
    margin-left: 15px;
}

.card img {
    max-width: 50%;
    height: auto;
}

.card:hover{
    background-color:#e50914;
    color: #ffffff;
}

